 head{
    background-image: url("paper.gif");

 }

 body{
    background-image: url("file:///C:/Users/DEMPC-11/Documents/GitHub/click/Background/camera-lead.jpg");
    background-repeat: repeat-x;
}

.jumbotron {
    background-color: transparent;
}